<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arha_description_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="ShoulderLU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShoulderLD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ElbowLU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ElbowLD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="WristLU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="WristLD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShoulderRU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ShoulderRD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ElbowRU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ElbowRD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="WristRU_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="WristRD_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
