<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arha_description_ros2_control" params="name initial_positions_file use_fake_hardware:=true zero_on_startup:=false">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware}">
                    <plugin>arha_hardware_interface/ArhaHardwareInterface</plugin>
                    <param name="ip_address">192.168.197.123</param>
                    <param name="port">5000</param>
                    <param name="zero_on_startup">${zero_on_startup}</param>
                    <param name="gravity_compensation">true</param>
                    <param name="left_arm_base_link">chest_link</param>
                    <param name="left_arm_tip_link">WristLD_link</param>
                    <param name="right_arm_base_link">chest_link</param>
                    <param name="right_arm_tip_link">WristRD_link</param>
                    <param name="urdf_path">$(find arha_description)/urdf/ARHA.urdf</param>
                </xacro:unless>
            </hardware>

            <!-- Left Arm -->
            <joint name="ShoulderLU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">1</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ShoulderLD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">2</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ElbowLU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">3</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ElbowLD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">4</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="WristLU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristLU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">5</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="WristLD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristLD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_arm</param>
                <param name="motor_id">6</param>
                <param name="direction">-1</param>
            </joint>

            <!-- Right Arm -->
            <joint name="ShoulderRU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">1</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ShoulderRD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ShoulderRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">2</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ElbowRU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">3</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="ElbowRD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ElbowRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">4</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="WristRU_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristRU_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">5</param>
                <param name="direction">-1</param>
            </joint>
            <joint name="WristRD_joint">
                <command_interface name="position"/>

                <state_interface name="position">
                  <param name="initial_value">${initial_positions['WristRD_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_arm</param>
                <param name="motor_id">6</param>
                <param name="direction">-1</param>
            </joint>

            <!-- Gripper -->
            <joint name="left_cam_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">left_gripper</param>
                <param name="motor_id">1</param>
                <param name="direction">1</param>
            </joint>

            <joint name="right_cam_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <param name="limb_name">right_gripper</param>
                <param name="motor_id">2</param>
                <param name="direction">1</param>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
