<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arha_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="true" />

    <!-- URDF Include -->
    <xacro:include filename="$(find arha_description)/urdf/ARHA.urdf" />

    <!-- Gripper and Camera Assembly -->
    <xacro:if value="$(arg use_fake_hardware)">
      <xacro:include filename="$(find arha_gazebo)/urdf/grippers/pincopen.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg use_fake_hardware)">
      <xacro:include filename="$(find arha_moveit2)/config/grippers/pincopen_stub.xacro"/>
    </xacro:unless>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <!-- Add the Head assembly -->
    <xacro:include filename="$(find head)/urdf/head.xacro"/>
    <xacro:arha_head parent="chest_link">
      <origin xyz="-0.1 0 0.08" rpy="0 0 0" />
    </xacro:arha_head>

    <!-- Mount D435 Camera to the Head -->
    <xacro:sensor_d435 parent="head_part_1_4" name="head_camera" use_nominal_extrinsics="false" add_plug="false" use_mesh="true">
      <origin xyz="-0.18 -0.12 -0.037" rpy="1.5708 0 -1.5708"/>
    </xacro:sensor_d435>

    <xacro:pincopen_gripper prefix="right" parent="WristRD_link">
      <origin xyz="0 0 0.13" rpy="1.5708 -1.5708 0.0" />
    </xacro:pincopen_gripper>

    <xacro:sensor_d435 parent="right_Camera_mount_V1" name="right_camera" use_nominal_extrinsics="false" add_plug="false" use_mesh="true">
      <origin xyz="0 0 0" rpy="0 0 1.5708"/>
    </xacro:sensor_d435>

    <!-- Control Include -->
    <xacro:include filename="arha_description.ros2_control_right_arm.xacro" />

    <!-- Configure ros2_control for right arm only -->
    <xacro:arha_description_ros2_control_right_arm
        name="RightArmSystem"
        initial_positions_file="$(arg initial_positions_file)"
        use_fake_hardware="$(arg use_fake_hardware)"/>

</robot>
