<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arha_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="zero_on_startup" default="false" />

    <!-- Import arha_description urdf file -->
    <xacro:include filename="$(find arha_description)/urdf/ARHA.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="arha_description.ros2_control.xacro" />


    <xacro:arha_description_ros2_control name="ARHA" initial_positions_file="$(arg initial_positions_file)" use_fake_hardware="$(arg use_fake_hardware)" zero_on_startup="$(arg zero_on_startup)"/>

</robot>
