<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- 
       arha_head macro 
       parameters:
         parent: name of the parent link (e.g., chest_link)
         *origin: origin block for mounting the head to the parent
  -->
  <xacro:macro name="arha_head" params="parent *origin">
    
    <joint name="head_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="head_part_1_1" />
    </joint>

    <link name="head_part_1">
        <inertial>
            <mass value="0.00025895" />
            <origin xyz="0.00210423 0.0124297 0.0686696" rpy="0 -0 0" />
            <inertia ixx="1.02354e-06" ixy="-4.92391e-08" ixz="4.96494e-09" iyy="8.96314e-07" iyz="-6.95327e-09" izz="1.8392e-06" />
        </inertial>
        <visual>
            <origin xyz="0 0.0278088 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_1">
                <color rgba="0.611765 0.658824 0.670588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.0278088 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="head_part_1_1">
        <inertial>
            <mass value="0.000190696" />
            <origin xyz="-0.0277009 -1.56073e-06 0.0337029" rpy="0 -0 0" />
            <inertia ixx="3.20307e-07" ixy="1.41373e-11" ixz="9.1453e-08" iyy="3.04986e-07" iyz="-8.54259e-12" izz="1.90198e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_1"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="head_part_1_2">
        <inertial>
            <mass value="0.00010221" />
            <origin xyz="-0.0193695 -0.0296223 0.0441332" rpy="0 -0 0" />
            <inertia ixx="1.44609e-07" ixy="-5.45997e-11" ixz="7.29753e-09" iyy="1.0061e-07" iyz="6.25804e-10" izz="5.28315e-08" />
        </inertial>
        <visual>
            <origin xyz="0.0233 -0.0302328 -0.005" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_2">
                <color rgba="0.694118 0.694118 0.694118 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.0233 -0.0302328 -0.005" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="head_part_1_3">
        <inertial>
            <mass value="0.000479282" />
            <origin xyz="0.0225104 0.075595 0.00824106" rpy="0 -0 0" />
            <inertia ixx="2.62241e-06" ixy="-3.15968e-09" ixz="-4.34371e-09" iyy="2.11917e-06" iyz="-1.74573e-08" izz="3.19003e-06" />
        </inertial>
        <visual>
            <origin xyz="0.0222816 0.055 0.024911" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_1" />
        </visual>
        <collision>
            <origin xyz="0.0222816 0.055 0.024911" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="head_part_1_4">
        <inertial>
            <mass value="0.000135418" />
            <origin xyz="-0.0230306 -1.95328e-08 -0.0274131" rpy="0 -0 0" />
            <inertia ixx="1.14797e-07" ixy="-9.66992e-15" ixz="-1.97173e-08" iyy="1.93195e-07" iyz="-6.14642e-15" izz="2.18454e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.02195" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_1" />
        </visual>
        <collision>
            <origin xyz="0 0 -0.02195" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="head_part_1_5">
        <inertial>
            <mass value="2.66736e-05" />
            <origin xyz="0.00995941 0.0226528 -0.00156416" rpy="0 -0 0" />
            <inertia ixx="3.12489e-08" ixy="-6.41217e-11" ixz="-1.04552e-11" iyy="5.97837e-09" iyz="-1.42944e-10" izz="2.89745e-08" />
        </inertial>
        <visual>
            <origin xyz="0 -0.026 -0.01797" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
            <material name="head_color_1" />
        </visual>
        <collision>
            <origin xyz="0 -0.026 -0.01797" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://head/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
        </collision>
    </link>

    <joint name="head_fastened_1_0" type="fixed">
        <origin xyz="0.0233 -0.0302328 0.005" rpy="0 -0 3.14159" />
        <parent link="head_part_1_1" />
        <child link="head_part_1_2" />
    </joint>
    <joint name="head_revolute_1_0" type="fixed">
        <origin xyz="-0.00945 -0.0302328 0.0577144" rpy="1.5708 1.53235 -1.5708" />
        <parent link="head_part_1_2" />
        <child link="head_part_1_4" />
    </joint>
    <joint name="head_fastened_2_0" type="fixed">
        <origin xyz="-0.06175 -0.02 -0.058725" rpy="0 -1.5708 1.5708" />
        <parent link="head_part_1_4" />
        <child link="head_part_1_3" />
    </joint>
    <joint name="head_planar_1_2" type="fixed">
        <origin xyz="0.0222816 0.0271912 0.0163707" rpy="0 0 0" />
        <parent link="head_part_1_3" />
        <child link="head_part_1" />
    </joint>
    <joint name="head_planar_5_2" type="fixed">
        <origin xyz="-0.000319483 0.131017 0.0803707" rpy="0 -1.5708 4.71239" />
        <parent link="head_part_1_3" />
        <child link="head_part_1_5" />
    </joint>

    <!-- Prepared mount link for future camera attachment -->
    <link name="head_camera_mount"/>
    <joint name="head_camera_mount_joint" type="fixed">
        <!-- Default position front-center of the head, to be adjusted if needed -->
        <origin xyz="0.05 0 0.10" rpy="0 0 0" />
        <parent link="head_part_1_1" />
        <child link="head_camera_mount" />
    </joint>

  </xacro:macro>
</robot>
